@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #f9f9f9;
}

.youtubeHeader {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.youtubeLogo {
    height: 30px;
    margin: 7px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.youtubeSearchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.youtubeHeaderSearchInput {
    outline: none;
    padding: 4px;
    width: 30em;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtubeHeaderSearchInput::-webkit-input-placeholder{
    font-size: 17px;
}

.searchIconHeader {
    padding: 5px;
    border: 1px solid grey;
    background-color: #f9f9f9;
    padding-right: 25px;
    padding-left: 25px;
    outline: none;
    cursor: pointer;
    color: #606060;
    font-size: 17px;
}

.youtubeHeaderIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.youtubeHeaderIcon {
    color: #606060;
    margin: 15px;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.youtubeheaderAvatarIcon {
    border-radius: 200px;
    height: 35px;
}

.youtubeBottomSection {
    display: flex;
    flex-direction: row;
}

.youtubeSidebar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
}

.youtubeSidebarField {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5px;
    cursor: pointer;
}

.youtubeSidebarField:hover {
    background-color: #e5e5e5ab;
}

.youtubeSidebarField i {
    font-size: 20px;
    color: #606060;
    margin: 10px;
    margin-right: 25px;
    margin-left: 20px;
}

.youtubeSidebarField h1 {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
}

.youtubeSidebar__hr {
    height: 1px;
    border-top: 1px solid rgba(128, 128, 128, 0.97);
    width: 95%;
    margin: 10px;
}

.channelPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin: 10px;
    border-radius: 200px;
    margin-right: 20px;
    margin-left: 15px;
}

.subscriptions {
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
}

.youtubeVideos {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 250px;
    width: 100%;
}

.youtubeVideo {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 270px;
    padding: 5px;
    cursor: pointer;
}

.videoThumbnail{
    height: auto;
    width: 260px;
    border-radius: 10px;
}

.videoDetails {
    display: flex;
    flex-direction: row;

}

.channelThumbnail {
    border-radius: 200px;
    height: 40px;
    margin-top: 12px;
}

.videoDetailsText {
    display: flex;
    flex-direction: column;
}

.videoTitle {
    font-size: 15px;
    font-family: "Roboto";
    color: black;
    font-weight: 500;
    margin: 10px;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 0;
}

.videoViews, .channelName {
    font-size: 13px;
    font-family: "Roboto";
    color: #606060;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 10px;
}

.videoViews {
    margin-top: -10px;
}